<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form method="POST" action="/">
    <img src='icon.png' width="20" height="20">
<input type= 'text' placeholder="Add a new note" name='task'>
<button type="submit"> Add</button>
</form>
    <h1>To Do List</h1>
    <ul>
            <% for(var i=0 ; i< tasks.length ; i++ ) { %>
                <li><%- tasks[i] %> </li>
              <% }; %>
    
    </ul>
</body>
</html>